* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 120px; /* Ancho fijo para los labels */
    text-align: right;
    margin-right: 10px;
}

input, select, textarea {
    flex: 1; /* El input o textarea ocupará todo el espacio disponible */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
